<div class="container mt-5">
    <h4 class="text-center mt-5">empolye-list !</h4>

    <div class="row">
        <div class="col-lg-12 mt-5">
            <table class="table text-center shadow-lg ">
                <thead>
                  <tr >
                    <th scope="col">empolye_id</th>
                    <th scope="col">fristname</th>
                    <th scope="col">lastname</th>
                    <th scope="col">email</th>
                    <th scope="col">action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empolyee of empolyess">
                    <th scope="row">{{empolyee.id}}</th>
                    <td>{{empolyee.fristname}}</td>
                    <td>{{empolyee.lastname}}</td>
                    <td>{{empolyee.email}}</td>
                    <td>
                      <button class="btn btn-success shadow p-1" (click)="updateempolye(empolyee.id)">Update</button>
                      <button class="btn btn-danger shadow p-1" style="margin-left: 15px;" (click)="deleteempoly(empolyee.id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</div>


